.vscode
node_modules
release
data/wai_character_thumbs.json
data/danbooru.csv
data/danbooru_e621_merged.csv
settings/*.json
data/wildcards/wildcardPoses.txt
data/wildcards/wildcardMyFurries.txt
scripts/python/saa-agent/__pycache__/
scripts/python/saa-agent/*.png
*.pem
*.log
*.DS_Store
/scripts/python/thumb-generator/__pycache__
/scripts/python/thumb-generator/output
/scripts/python/thumb-generator/output_thumb
